[user]
    name = AUTHORNAME
    email = AUTHOREMAIL

[color]
    ui = true

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[core]
    editor = vim
    excludefile = ~/.gitignore

[credential]
    helper = cache

[alias]
    st = status -sb
    amend = commit --amend
    d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"
    ls = log --oneline
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    co = checkout 
    undo = reset HEAD~1 --mixed
    bclean = "!f() { git branch --merged ${1-master} | grep -v " ${1-master}$" | xargs -r git branch -d; }; f"
    bdone = "!f() { git checkout ${1-master} && git up && git bclean ${1-master}; }; f"
    wipe = !git add -A && git commit -qm 'WIPE SAVEPOINT' && git reset HEAD~1 --hard

[push]
    default = simple
